/* SEARCH BAR WRAPPER */
.search-bar-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* MAIN SEARCH BAR */
.search-bar { 
  display: flex;
  align-items: center;
  border: 3px solid #1f3a5f;
  border-radius: 20px;
  overflow: visible;
  height: 55px; 
}

/* .search-bar:hover, 
.search-bar:focus-within {
  color: #333333;
  max-width: 800px;
}  */




/* SERVICE + PROVIDER WRAPPERS */
.service-input-wrapper,
.provider-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  transition: width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/* expand service side */
.service-input-wrapper:hover
{
  width: 400px;
  /* margin-left: -150px; */
}

/* expand provider side */
.provider-input-wrapper:hover
{
  width: 400px;
  /* margin-right: -150px; */
}

.service-input-wrapper.active,
.provider-input-wrapper.active {
  width: 350px;
}


/* INPUTS */
.search-bar input,
.search-bar select {
  color: #333333;
  border: 0;
  outline: none;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 400;
  font-size: 1.25rem;
  flex: 1;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 0; /* prevent overflow */
}

/* SEARCH BUTTON */
.search-btn {
  flex: 0 0 55px;
  background-color: #ffc72c !important;
  color: #1f3a5f;
  border: 3px solid #1f3a5f !important;
  border-radius: 15px !important;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.25s ease;
}

.search-btn:hover {
  background-color: #1f3a5f !important;
  color: #ffc72c;
}

.searchbar-icon {
  width: 30px !important;
  height: auto !important;
  color: inherit;
  transition: all 0.25s ease;
}

/* SERVICE INPUT WRAPPER */
.service-input-wrapper {
  position: relative;  /* dropdown positions relative to this wrapper */
  flex: 1;             /* same width as provider input */
}

/* PROVIDER INPUT WRAPPER */
.provider-input-wrapper {
  position: relative;
  flex: 1;
}

/* DROPDOWN ICON */
.dropdown-icon {
  position: absolute;
  left: 10px;     
  top: 45%;
  margin-left: 65%;
  
  transform: translateY(-50%) rotate(180deg);
  cursor: pointer;
  pointer-events: all; 
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  top: 50%;
  transform: translateY(-50%);
}

/* SERVICE DROPDOWN */
/* .service-results {
  position: absolute;
  top: calc(100% + 6px);
  left: 5;
  width: 30%;        
  height: 200px;
  padding: 10px;
  background-color: white;
  color: #333333;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(31, 58, 95, 0.2);
  list-style: none;
  z-index: 999;
  
  overflow-y: auto;
  scrollbar-width: none;    
  -ms-overflow-style: none;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.service-results > * {
    scroll-snap-align: start;
  }

.service-results::-webkit-scrollbar {
  display: none;    
} */


.service-item {
  padding: 10px 10px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 10px;
}

.service-item:hover{
  border-color: #ffc72c;
}

/* PROVIDER DROPDOWN */
/* .search-results {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;           
  height: 200px;
  padding: 10px;

  background-color: white;
  color: #333333;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(31, 58, 95, 0.2);
  list-style: none;
  z-index: 999;
  transition: width 0.25s ease;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: inline mandatory;
}

.search-results > * {
    scroll-snap-align: start;
  }

.search-results::-webkit-scrollbar {
  display: none;    
}

.search-results:hover{
  border-color: #ffc72c;
  margin-right: 10%;
} */


/* SERACH RESULT DROPDOWN */
.search-dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  transform: none;
  width: 100%;       
  max-width: 650px;
  background: white;
  border-radius: 15px;
  overflow-y: auto;
  list-style: none;
  max-height: 200px;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(31, 58, 95, 0.2);
  transition: max-width 0.25s ease;

  margin-top: 20px;
  padding: 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-snap-type: inline mandatory;
}

.search-dropdown > * {
  scroll-snap-align: start;
}

.search-dropdown::-webkit-scrollbar {
  display: none;
}

.search-bar:hover + .search-dropdown,
.search-bar:focus-within + .search-dropdown {
  max-width: 800px; 
}

.dropdown-item {
  list-style: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent; 
  margin-bottom: 12px;
  font-size: clamp(0.93rem, 1.5vw, 1.1rem);
  transition: all 0.2s ease;
  box-sizing: border-box;
  background-color: white; 
  color: #333333;  
  transition: all 0.2s ease;      
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item:hover {
  border: 3px solid #ffc72c !important;
  padding-left: 10px;
  height: 35px; 
  border-radius: 10px;
  background-color: #fffbe6; 
}

.result-item {
  padding: 10px 10px;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
}

.result-item:hover {
  border-color: #ffc72c;
}

.no-results {
  padding: 10px 16px;
  color: #333333;
}