.profile-background {
  width: 100%;
  background-color: #f2f3f7;
  margin: 0 auto;
  padding-bottom: clamp(2.5rem, 3.5vw, 4rem);
  overflow: hidden;
}

.user-profile-container {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.mb-5 {
  font-size: clamp(2rem, 3.5vw, 2.5rem) !important;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: #1f3a5f;
  text-align: center;
  width: 100%;
  margin-bottom: clamp(2rem, 3.5vw, 3rem);
}

.form {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 24px;
  max-width: 800px;
  width: 100%;
  padding-bottom: 50px;
  min-height: 850px;

  align-items: stretch;
}

.form-nav {
  background: white;
  border-radius: 12px;
  padding: 5px;
  height: 100%;
}

.form-panel {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  height: 100%;
}

.form-panel .form-control,
.form-panel {
  margin-bottom: 1rem;
}

.form-panel h6 {
  font-size: clamp(1.25rem, 2.25vw, 1.5rem);
  font-weight: 700;
  color: #1f3a5f;
  padding-top: 10px;
  padding-bottom: 20px;;
}

.form-block {
  /* padding: 1.5rem; */
  border-radius: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.justify-left .mb-1 {
  display: block;
  font-size: clamp(1.25rem, 2.25vw, 1.5rem);
  font-weight: 600;
  color: #1f3a5f !important;
  margin-bottom: 0.5rem;
}

.button-yellow {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #ffc72c;
  background-color: transparent;
  border-radius: 20px;
  
  color: #1f3a5f;
  font-family: "Open Sans";
  font-size: 1.1rem;
  font-weight: 600;

  width: 200px; 
  max-width: auto;
  height: 40px;     
  padding: 0 16px; 

  cursor: pointer;
  transition: all 0.25s ease;

  white-space: nowrap; 
}

.button-yellow:hover {
  border: 3px solid #ffc72c;
  background-color: #ffc72c;
}

.button-navy {
  /* background: #1f3a5f;
  color: #ffc72c;
  width: fit-content; */
  border: 3px solid #1f3a5f;
  background-color: transparent;
  color: #1f3a5f;
}

.button-navy:hover {
  border: 3px solid #1f3a5f;
  background-color: #1f3a5f;
  color: #ffc72c;
}

.btn-style {
  border-radius: 20px;
  width: fit-content;
  height: 40px;
  padding: 0 14px;
  margin-top: 30px;
  font-weight: bold;
  color: #1f3a5f;
  font-size: 0.93rem;
}

.form-nav a {
  width: 100%;
  color: #333333;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  gap: 20px;
}

.form-nav a:hover {
  background-color: transparent;
  border: 3px solid #ffc72c;
  color: #1f3a5f;
  border-radius: 20px;
  padding: 10px;
}

.form-nav .nav-link.active {
  background-color: transparent;
  border: 3px solid #ffc72c;
  color: #1f3a5f;
  border-radius: 20px;
  padding: 10px;
}

.form-control:disabled {
  background-color: var(--bs-secondary-bg);
  opacity: 1;
  border: 3px solid #e8eaee;
}
