/* provider edit pet detail */

.edit-pet-provider-contents-container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.edit-pet-provider-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 28px;
  align-items: stretch;
}


/* patient list */
.all-patients-container {
  display: flex;
  justify-content: center;
  padding-top: var(--header-height);
  padding-bottom: clamp(3rem, 5.5vw, 5rem);
  background-color: #f2f3f7;
}

.all-patients-content {
  display: grid;
  grid-template-rows: 80px 50px 1fr;
  width: 100%;
  max-width: 800px;
  align-items: flex-start;
  margin: 0 auto;
}

.all-patients-header {
  justify-self: flex-start;
}

.all-patients-header h1 {
  font-weight: 800;
  color: #1f3a5f;
  padding-bottom: clamp(2rem, 3.5vw, 3rem) !important;
}

.all-pets-actions-patient-list {
  margin-top: 40px !important;
}

.modal-footer .btn-primary {
  border: 3px solid #1f3a5f !important;
  background-color: transparent !important;
  color: #1f3a5f !important;
  border-radius: 15px;
  font-family: 900 !important;
}

.modal-footer .btn-primary:hover {
  border: 3px solid #1f3a5f !important;
  background-color: #1f3a5f !important;
  color: #ffc72c !important;
  border-radius: 15px;
  font-family: 900 !important;
}

.modal-footer .btn-secondary {
  border: 3px solid #d2d7de !important;
  background-color: #d2d7de;
  color: #1f3a5f;
  border-radius: 15px;
  font-family: 900 !important;
}

.modal-footer .btn-secondary:hover {
  border: 3px solid #a5aebd !important;
  background-color: #a5aebd;
  border-radius: 15px;
  color: #1f3a5f !important;
  font-family: 900 !important;
}