/* provider edit pet detail */
.edit-pet-provider-container {
  width: 100%;
  background-color: #f2f3f7;
  margin: 0 auto;
  padding-top: var(--provider-padding);
  padding-bottom: var(--provider-padding);
}

.edit-pet-provider-section {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.edit-pet-provider-contents-container{
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  min-height: calc(100vh - 120px);
  font-family: "Open Sans", sans-serif;
}

.edit-pet-provider-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 28px;
  align-items: stretch;
}

/* patient list */
.all-patients-container {
  width: 100%;
  background-color: #f2f3f7;
  margin: 0 auto;
  padding-top: var(--provider-padding);
  padding-bottom: var(--provider-padding);
}

.all-patient-section {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.patient-content-container {
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  min-height: calc(100vh - 120px);
  font-family: "Open Sans", sans-serif;
}

.all-patients-content {
  display: grid;
  grid-template-rows: 1fr;
  gap: 28px;
  align-items: stretch;
}

.all-patients-header {
  justify-self: flex-start;
}

.all-patients-header h1 {
  font-weight: 800;
  color: #1f3a5f;
  padding-bottom: clamp(2rem, 3.5vw, 3rem) !important;
}

.all-pets-actions-patient-list {
  margin-top: 40px !important;
}

.modal-footer .btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #1f3a5f !important;
  background-color: transparent !important;
  border-radius: 20px;

  color: #1f3a5f !important;
  font-family: "Open Sans";
  font-size: 1.1rem;
  font-weight: 600;

  width: 125px; 
  max-width: auto;
  height: 40px;     
  padding: 0 16px; 

  cursor: pointer;
  transition: all 0.25s ease;

  white-space: nowrap; 
}

.modal-footer .btn-primary:hover {
  border: 3px solid #1f3a5f !important;
  background-color: #1f3a5f !important;
  color: #ffc72c !important;
  font-family: 900 !important;
}

.modal-footer .btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #d2d7de !important;
  background-color: #d2d7de;
  border-radius: 20px;

  color: #1f3a5f;
  font-family: "Open Sans";
  font-size: 1.1rem;
  font-weight: 600;

  width: 125px; 
  max-width: auto;
  height: 40px;     
  padding: 0 16px; 

  cursor: pointer;
  transition: all 0.25s ease;

  white-space: nowrap; 
}

.modal-footer .btn-secondary:hover {
  border: 3px solid #a5aebd !important;
  background-color: #a5aebd;
  color: #1f3a5f !important;
  font-family: 900 !important;
}