html,
body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* #root {
  height: 100%;
  width: 100%;
} */

:root {
  --header-height: 100px;
  --provider-padding: 80px;
}
