html,
body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* #root {
  height: 100%;
  width: 100%;
} */

:root {
  --header-height: 100px;
  --provider-padding: 80px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: var(--header-height);
}

.main.no-header,
.main.with-sidebar {
  padding-top: 0;
}
