/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "nunito", "Open Sans";
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
} */

/* .main {
  margin-left: 25px;
  padding: 20px;
} */

.with-sidebar {
  margin-left: 260px;
}

/* DONE! */
.bluehotdog-logo {
  width: 180px;
  height: auto;
  object-fit: cover;
  padding-bottom: 25px;
}
/* DONE! */

/* Navigation */
.provider-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;  
  background-color: #1f3a5f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  gap: 20px;
  list-style: none;
}

.provider-links li a {
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 20px !important;
  font-weight: 500 !important;
  color: white !important;
  width: 150px;
  padding: 10px;
  border: 3px solid transparent;
  border-radius: 15px;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.provider-links li a:hover {
  font-weight: 700;
  border: 3px solid #ffc72c !important;
}

/* DONE! */
.provider-logout {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  background-color: transparent;
  border: 3px solid #ffc72c;
  border-radius: 20px;

  color: #ffc72c;
  font-family: "Open Sans";
  font-size: 1.1rem;
  font-weight: 600;

  width: 200px; 
  max-width: auto;
  height: 45px;     
  padding: 0 16px; 

  cursor: pointer;
  transition: all 0.25s ease;

  white-space: nowrap;
  margin-top: 80px;
}

.provider-logout:hover {
  background-color: #ffc72c;
  border: 3px solid #ffc72c;
  color: #1f3a5f;
}
