.time-button {
  height: 40px;
  border: none;
  border-radius: 10px;
  color: #1f3a5f;
}

.time-button.time-button-available {
  background-color: #ffc72c;
  cursor: pointer;
}

.time-button.time-button-booked {
  background-color: #c5c3c3;
  color: #6b7280;
  cursor: not-allowed;
}

.time-button:disabled {
  background-color: #c5c3c3;
  color: #6b7280;
  background-color: #f2f3f7;
  border: 3px solid #f2f3f7;
  color: #333333;
}

.time-button.time-button-available:hover {
  border: 3px solid #ffc72c;
  background-color: transparent;
}

.time-button.time-button-booked {
  background-color: #ffc72c;
  border: 3px solid #ffc72c;
  cursor: not-allowed;
}

.time-button.active-btn {
  background-color: #1f3a5f;
  color: #ffc72c;
  outline: 2px solid #1f3a5f;
  background-color: #ffc72c;
  border: 3px solid #ffc72c;
  outline-offset: 1px;
}
